@import "src/index";

.nav-return-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1vh 2vw;
  box-shadow: 0 8px 6px -6px #999;

  background: $color-primary;
  
  .brand-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
  img {
    height: 50px;
    padding: 4px;
    border-radius: 50%;
    background: $color-primary-shade;
  }

  .brand{
    font-family: 'Oswald', cursive;
    margin: 0;
    height: fit-content
  }
}

.sign-button {
  @include classic-button;

  background: $color-accent;

  transition: .4s;

  &:hover, &:focus {
    background: $color-accent-shade;
    color: white;
  }
}