@import "src/index";

.file-button {
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 10px;

  border: 2px solid black;
  border-radius: 4px;

  background: $color-accent;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  transition: .4s;

  display: flex;
  flex-direction: column;
  gap: 10px;

  text-decoration: none;
  color: black;

  img {
    height: 80%;

    border: 2px solid black;
    border-radius: 4px;
  }

  span {
    font-family: Prompt, cursive;
    font-size: 20px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    transform: scale(1.1);

    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.5);
  }
}