@import "../../index";

.landing-page-return-wrapper {
  padding: 7vh 2vw;
}

.landing-page-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 2vh 2vw;
  border-radius: 10px;
  background: $color-primary;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.landing-page-hero-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;

  h1 {
    font-family: 'Comic neue' , cursive;
    font-size: 3rem;
    color: $color-accent-shade;
  }

  p {
    font-family: 'Comic neue' , cursive;
    font-size: 1.2rem;
  }
}

.hero-image {
  width: 50%;
}

@media (max-width: 1200px) {
  .landing-page-hero {
    flex-direction: column-reverse;

    img {
      width: 80%;
    }
  }

  .landing-page-hero-left {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 800px) {
  .landing-page-hero-left {

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}