@import "src/index";

.year-card {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  overflow: hidden;

  cursor: pointer;

  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

  background: $color-primary;
  height: fit-content;

  img {
    height: 320px;
    width: 280px;
    transition: all 0.2s;

  }

  h3 {
    width: 100%;
    color: rgba(53, 50, 50, 0.959);
    font-family: Prompt, cursive;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;

  }

  &:hover {
    img {
      height: 350px;
      color: unset;
      transform: scale(1.1);
    }

    h6 {
      color: rgb(3, 3, 97);
    }
  }
}

.folder-wrapper{
    margin: 10px;
}

.folder-card {
  display: flex;
  flex-direction: column;
  justify-content: center;



  width: 100px;
  height: 60px;

  background: $color-primary;

  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

  transition: .4s;

  svg {
    margin: 0 auto;
  }

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:hover, &:focus {
    cursor: pointer;

    transform: scale(1.2);

    background: $color-primary-shade;

    svg path{
      fill: $color-accent;
    }

    span {
      color: $color-accent;
    }
  }
}