@import "src/index";

.files-container {
  padding: 3vh 2vw;
  background-color: antiquewhite;
}

.dashboard-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3vh 0px;
}
.empty{
  margin: 50px;
  text-align: center;
  img{
      width: 200px;
  }
}