@import "src/index";

.files-container {
  padding: 3vh 2vw;
  background-color: antiquewhite;
}

.dashboard-title {
  font-family: 'Oswald', cursive;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vh 0;
}