@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

$color-primary: #2ff1f1f6;
$color-primary-tint: #57797918;
$color-primary-shade: #164f4f;
$color-accent: #F3E37C;
$color-accent-shade: #605b29;


* {
  box-sizing: border-box;
}

body {
  background-image:  url("./assets/cubes.png");
  background-color: rgba(245, 245, 245, 0.548);
  background-blend-mode: saturation;
}

.sign-button {
  width: 120px;
  height: 40px;

  border: 1px solid black;
  border-radius: 4px;

  background: $color-accent;

  transition: .4s;

  &:hover, &:focus {
    background: $color-accent-shade;
    color: white;
  }
}